
/* MAIN-GALLERY
 ---------------------------------*/





 
.main-gallery
{
    width:100%;
    height:100%;
    background:url("../home.jpeg");
    background-position: 1px -274px;
    background-repeat: no-repeat;
    background-size:cover;
    margin-top: 0px;
}

.overlay{
    background: -moz-linear-gradient(top,  rgba(0,0,0,0.8) 0%, rgba(0,0,0,0.73) 17%, rgba(0,0,0,0.66) 35%, rgba(0,0,0,0.55) 62%, rgba(0,0,0,0.4) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.8)), color-stop(17%,rgba(0,0,0,0.73)), color-stop(35%,rgba(0,0,0,0.66)), color-stop(62%,rgba(0,0,0,0.55)), color-stop(100%,rgba(0,0,0,0.4))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(0,0,0,0.8) 0%,rgba(0,0,0,0.73) 17%,rgba(0,0,0,0.66) 35%,rgba(0,0,0,0.55) 62%,rgba(0,0,0,0.4) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(0,0,0,0.8) 0%,rgba(0,0,0,0.73) 17%,rgba(0,0,0,0.66) 35%,rgba(0,0,0,0.55) 62%,rgba(0,0,0,0.4) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(0,0,0,0.8) 0%,rgba(0,0,0,0.73) 17%,rgba(0,0,0,0.66) 35%,rgba(0,0,0,0.55) 62%,rgba(0,0,0,0.4) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(0,0,0,0.8) 0%,rgba(0,0,0,0.73) 17%,rgba(0,0,0,0.66) 35%,rgba(0,0,0,0.55) 62%,rgba(0,0,0,0.4) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cc000000', endColorstr='#66000000',GradientType=0 ); /* IE6-9 */
    //background-attachment: fixed;
        height:auto;
        height:100%;
}

.bigFont
{
    color: white;
    font-size: 3em;
    line-height: 80px;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    text-shadow: 1px 1px #757575;
    font-weight: 600;
}
.btns
{
    font-size: 14px;
    text-align: center;
    color: #fff;
    border-radius: 0px;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    width:220px;
    -webkit-animation-duration:2s;
    -moz-animation-duration:2s;
    -ms-animation-duration:2s;
}
.high-section .hs-signin-link {
    position: absolute;
    right: 4em;
    top: 2.4em;
}

.header-signin-link {
    font-size: 1.0833333333em;
    font-weight: 500;
    z-index: 4;
}
.btn-white-alt {
    color: #FFF;
    border: 1px solid #FFF;
    background: 0 0;
}
.btn, .core-form .btn {
    transition-property: border,background,color;
    transition-duration: .2s;
    transition-timing-function: ease;
    font-weight: 300;
    display: inline-block;
    vertical-align: middle;
    zoom: 1;
    padding: 4px 16.8px;
    border-radius: 14px;
    position: relative;
    text-shadow: none;
    cursor: pointer;
    white-space: nowrap;
    text-align: center;
    box-shadow: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}
.top30 {
    margin-top: -87px;
}
.top40 {
    margin-top: 6.2em;
}

.text-center {
    text-align: center;
}

.btn, .btn-link, .btn:focus, .btn:hover, .core-form .btn, .core-form .btn:focus, .core-form .btn:hover, .popover, .tooltip-content, .ui-label:hover a, a, a:focus, a:hover, del, ins {
    text-decoration: none;
}

p.intro{
    color: white;
    text-align: center;
    margin-top: -18px;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-size:1.1em;
    font-family: 'Open Sans', sans-serif;
}
.btns:hover
{
    //margin-top:-10px;
    box-shadow:2px 2px 3px 3px rgba(0,0,0,0.4);
}
.overlay >.container
{
    padding:200px 0px;
}


/*  APP-STYLE STARTS HERE
------------------------------*/
.mobile-app>.container
{
 padding:100px 0px;
}

app-section {
    padding: 82px 0;
}

.app-heading h2 {
    color: #fff;
    padding-bottom: 60px;
}

.app-content .app-icon-box:first-child {
    margin-top: 60px;
}

.app-icon-box {
    display: table;
    margin-top: 10px;
    margin-bottom: 10px;
    position: relative;
    padding: 15px;
    cursor: pointer;
}

.app-icon {
    display: table-cell;
    font-size: 40px;
    color: #fff;

}

.app-icon .icon {
    width: 44px;

}

.app-icon-box h4 {
    color: #fff;
}

.app-content {
    display: table-cell;
    padding-left: 30px;
    vertical-align: top;
    font-size: 14px;
    color: #fff;
}

.app-content p {
    font-size:0.9em;
    color: #fff;
    margin: 1em 0;
}

.app-content-phone {
    display: table-cell;
    padding-right: 30px;
    vertical-align: top;
    color: #fff;
}

.app-content-phone p {
    font-size: 0.8em;
    color: #fff;
    margin: 1em 0;
}

.iphone-image {
    margin: 2px 27px;
}

.mobile-app span i.fa
{
    width:90px;
    height:90px;
    background:#fff;
    border-radius:50%;
    box-shadow:2px 1px 3px 8px rgba(0,0,0,0.1);
    -webkit-box-shadow:2px 1px 3px 8px rgba(0,0,0,0.1);
   -moz-box-shadow:2px 1px 3px 8px rgba(0,0,0,0.1);
    -ms-box-shadow:2px 1px 3px 8px rgba(0,0,0,0.1);
       font-size:1.2em;
       padding-top:20px;
       transition:all 1s;
       -webkit-transition:all 0.3s linear;
       -moz-transition:all 0.3s linear;
       -ms-transition:all 0.3s lnear;
}
.mobile-app span i.fa:hover,.app-icon-box:hover>.app-icon>span i.fa
{
    box-shadow:1px 2px 4px 10px rgba(0,0,0,0.3);
}