/*

Author      : Bassim Sefiani Omar
Project     : HifiCard
version     : beta
file        : main.scss
description : css main 

*/


html {
  position: relative;
  min-height: 100%;
}

body {
  padding-top: 60px;
  margin-bottom: 75px;
  color:#13164d;
  background-color: #f5f5f5;
  font-family: helvetica, arial, sans-serif;

}
[role="button"],
button,
label,
select {
    cursor: pointer;
}

p, ul {
  margin-bottom: 0;
  list-style:none;
}

a {
  color: #2c4b89;
  font-weight: 600;
  text-decoration: none;
}

  
