.body_sign{
    display: block;   
    padding-bottom: 15px;
    padding-top: 36px;
}
  @media (min-width: 840px) {
    .body_sign {
      background-image: url(../back.jpg);
      background-position: 0px -41px;
      background-repeat: no-repeat
      background-position-y: inherit;
      background-size: cover; } }

.pan_sigin {
      border-radius: 5px;
      font-size: 14px;
      display: block;
      
      margin-top: 50px !important;
}
  @media (max-width: 840px) {
    .pan_sigin {
      padding: 39px 27px; 
      background-color: white;
      border: 1px solid rgba(216, 222, 226, 0.81);
      } }
  @media (min-width: 840px) {
    .pan_sigin {
      padding: 23px 93px; 
      background-color: rgba(229, 229, 229, 0.74);
      border: 1px solid rgba(216, 222, 226, 0.81);
      } }
.cont_sigin {
    margin: 0 auto;
    height: 489px;
}
  @media (max-width: 840px) {
    .cont_sigin {
      width: 363px;
       } }
  @media (min-width: 840px) {
    .cont_sigin {
      width: 500px; } }

.lbl_sigin{
    display: block;
    margin-bottom: 7px;
    font-weight: normal;
}
.in_sigin{
    padding: 6px 0;
    width: 300px;
    height: 22px;
    margin-top: 22px;
}
.top_sigin{
        padding: 15px 63px;
}
.top_sigin .ic_sigin {
    background-image: url(../logo_32.png);
    display: block;
    background-repeat: no-repeat;
    padding: 20px 0px;
    margin-left: 69px;
}
.top_sigin .tx_sigin{
    color: #2c4b89;
    font-style: normal;
    font-size: 15px;
    font-weight: 600;
}


.inp_sigin{
    display: block;
    width: 95%;
    height: 28px;
    padding: 5px 12px;
    font-size: 14px;
    line-height: 1.42857;
    color: #555555;
    background-color: #fff;
    background-image: none;
    border: 1px solid rgba(39, 27, 24, 0.56);
    border-radius: 2px;
}
.btn_signin{
    padding: 8px 0;
    width: 312px;
    background-color: #2c4b89;
    border-color: #2c4b89;
    color: white;
    font-weight: 600;
    border-radius: 3px;
    border-style: solid;
    margin-top: 33px;
}

.bot_sigin {
      font-size: 12px;
    display: block;
    padding-bottom: 23px;
    text-align: center;
    margin-top: 11px !important;
    margin-left: -10px;
  }
  .bot_sigin .up_sigin {
        padding: 12px; 
  }


